[Desktop Entry]
Categories=Application;
Comment[en_US]=
Comment=
Exec=/home/user/ConnectorGUI/ConnectorGUIxBox.sh
GenericName[en_US]=
GenericName=
Icon=/home/user/ConnectorGUI/src/pkgConnector/images/icon.png
MimeType=
Name[en_US]=ConnectorGUI
Name=ConnectorGUI
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-RunOnDiscreteGpu=false
X-KDE-SubstituteUID=false
X-KDE-Username=
